---
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/content";

export async function getStaticPaths() {
  const postEntries = await getPosts();
  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const tags = entry.data.tags;
---

<Layout>
  <article class="mx-auto max-w-[680px]">
    <h1 class="post-title">{entry.data.title}</h1>
    {
      entry.data.description && (
        <h2 class="post-subtitle">{entry.data.description}</h2>
      )
    }
    <div class="markdown mb-[68px] max-w-4xl">
      <Content />
    </div>
    {
      tags.length && (
        <div class="flex flex-wrap gap-x-2 gap-y-5">
          {tags.map((tag) => (
            <a href="#">
              <span class="bg-neutral rounded-3xl px-4 py-2 text-sm">
                {tag}
              </span>
            </a>
          ))}
        </div>
      )
    }
    <div class="pb-[140px]"></div>
  </article>
  <script src="@/scripts/pswp.ts"></script>
  <script src="@/scripts/youtube-loader.ts"></script>
</Layout>
