---
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
import { themeConfig } from "@/theme-config";

const { profile } = themeConfig;
---

<Layout>
  <div class="mx-auto flex max-w-[1336px] justify-evenly">
    <main class="max-w-[728px] bg-yellow-200">
      <PostList />
    </main>
    <!-- Desktop Only -->
    <aside class="home-profile-container">
      <div class="pt-10">
        <div class="h-[88px]">
          {
            profile.avatar && (
              <img
                class="max-h-full rounded-full object-contain"
                src={profile.avatar}
                alt={profile.name}
              />
            )
          }
        </div>
      </div>
      <div class="mt-2.5">
        <h2 class="break-all pr-2">{profile.name}</h2>
      </div>
      <div class="mt-2 text-secondary">1.8K Followers</div>
      <p class="mt-2 text-sm text-secondary">{profile.bio}</p>
    </aside>
  </div>
</Layout>
