---
import { themeConfig } from "@/theme-config";

const { profile } = themeConfig;
---

<div
  class="h-[150px]"
  style="background-image: linear-gradient(to bottom, #4a96b6ff, transparent);"
>
</div>
<div class="mx-6 mb-10 mt-[52px]">
  <div class="line-clamp-1 max-h-[52px] text-[42px]">{profile.name}</div>
</div>
