---
interface Props {
  local?: string;
  youtube?: string;
  description?: string;
}

const { local, youtube, description = "" } = Astro.props;

if (!local && !youtube) {
  throw new Error("VideoCard require local or youtube props.");
}
---

<div class="mt-14">
  {youtube && <div data-youtube={youtube} />}
  <div class="mt-2.5 text-center text-sm text-secondary">{description}</div>
</div>
