---
import "@/styles/global.css";
import { themeConfig } from "@/theme-config";
import TheDesktopHeader from "@/components/TheDesktopHeader.astro";
import TheMobileHeader from "@/components/TheMobileHeader.astro";
---

<!doctype html>
<html lang={themeConfig.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="html-head" />
    <script is:inline>
      function initDarkMode() {
        const storageDarkValue = "dark";
        const storageKey = "theme";
        const systemMode = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";

        const mode = localStorage.getItem(storageKey) || systemMode;
        document.documentElement.classList.toggle(
          "dark",
          mode === storageDarkValue
        );
      }
      initDarkMode();
    </script>
  </head>
  <body>
    <TheDesktopHeader />
    <TheMobileHeader />
    <div class="h-appbar"></div>
    <slot />
    <script src="@/scripts/scroll.ts"></script>
  </body>
</html>
