---

---

<div
  class="h-appbar bg-primary-bg fixed left-0 right-0 top-0 z-30 border-b border-secondary transition-transform md:hidden"
  style="transform: translateY(var(--appbar-transform-y));"
>
  TheMobileHeader
</div>
