---

---

<div
  class="fixed left-0 right-0 top-0 z-30 flex h-appbar items-center justify-between border-b border-neutral bg-primary-bg px-6 transition-transform md:hidden"
  style="transform: translateY(var(--appbar-transform-y));"
>
  TheMobileHeader
</div>
